In [2]:
import pandas as pd
import numpy as np
import pickle
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from category_encoders import TargetEncoder

In [3]:
# Crear un conjunto de datos ficticio
import pandas as pd

data = pd.DataFrame({
    'Neighborhood': ['A', 'D', 'A', 'B', 'B', 'D', 'A', 'C', 'D', 'B',
                     'A', 'C', 'C', 'A', 'C', 'D', 'B', 'A', 'D', 'C',
                     'A', 'D', 'D', 'A', 'A', 'D', 'B', 'D', 'C', 'D',
                     'B', 'B', 'A', 'C', 'B', 'C', 'D', 'D', 'B', 'D',
                     'A', 'B', 'B', 'D', 'C', 'A', 'A', 'D', 'D', 'D',
                     'B', 'D', 'D', 'B', 'B', 'C', 'D', 'B', 'D', 'A',
                     'C', 'A', 'A', 'C', 'B', 'D', 'A', 'B', 'D', 'D',
                     'D', 'B', 'C', 'A', 'C', 'A', 'D', 'D', 'C', 'C',
                     'D', 'A', 'D', 'D', 'C', 'B', 'A', 'C', 'B', 'A',
                     'A', 'C', 'B', 'C', 'A', 'A', 'D', 'B', 'C', 'A'],
    'HouseType': ['Detached', 'Semi-Detached', 'Detached', 'Semi-Detached', 'Detached', 
                  'Detached', 'Detached', 'Detached', 'Semi-Detached', 'Semi-Detached',
                  'Detached', 'Detached', 'Detached', 'Detached', 'Semi-Detached', 'Detached',
                  'Detached', 'Semi-Detached', 'Detached', 'Semi-Detached', 'Detached', 
                  'Detached', 'Detached', 'Semi-Detached', 'Semi-Detached', 'Detached', 
                  'Semi-Detached', 'Detached', 'Detached', 'Semi-Detached', 'Detached',
                  'Semi-Detached', 'Detached', 'Detached', 'Semi-Detached', 'Detached',
                  'Detached', 'Detached', 'Semi-Detached', 'Detached', 'Semi-Detached',
                  'Detached', 'Detached', 'Semi-Detached', 'Detached', 'Detached',
                  'Detached', 'Detached', 'Semi-Detached', 'Detached', 'Detached',
                  'Semi-Detached', 'Detached', 'Detached', 'Semi-Detached', 'Detached',
                  'Detached', 'Semi-Detached', 'Detached', 'Detached', 'Detached',
                  'Detached', 'Detached', 'Semi-Detached', 'Detached', 'Detached',
                  'Semi-Detached', 'Semi-Detached', 'Detached', 'Detached', 'Detached',
                  'Detached', 'Semi-Detached', 'Detached', 'Detached', 'Detached',
                  'Semi-Detached', 'Detached', 'Detached', 'Semi-Detached', 'Detached',
                  'Detached', 'Detached', 'Semi-Detached', 'Detached', 'Detached',
                  'Detached', 'Detached', 'Detached', 'Semi-Detached', 'Detached',
                  'Detached', 'Semi-Detached', 'Detached', 'Detached', 'Detached', 
                  'Semi-Detached', 'Detached', 'Detached', 'Detached'],
    'Rooms':[4, 3, 3, 5, 4, 2, 1, 4, 5, 4, 4, 3, 2, 3, 4, 4, 3, 5, 1, 3,
              5, 5, 3, 1, 3, 5, 1, 2, 5, 3, 3, 1, 5, 5, 5, 5, 1, 2, 1, 2,
              4, 1, 1, 5, 2, 3, 2, 4, 5, 3, 5, 1, 1, 5, 1, 3, 4, 5, 5, 3,
              3, 4, 5, 1, 1, 2, 5, 5, 5, 1, 3, 1, 5, 2, 5, 2, 4, 1, 4, 2,
              4, 4, 4, 5, 2, 2, 3, 3, 5, 3, 2, 4, 4, 2, 3, 4, 5, 2, 3, 5],
    'Area': [289, 235, 120, 146, 202, 188, 141, 113, 224, 207, 277, 165, 200, 115,
             219, 108, 215, 289, 226, 102, 252, 168, 251, 215, 175, 175, 187, 194,
             112, 186, 175, 240, 211, 120, 219, 208, 292, 151, 174, 101, 210, 209,
             156, 180, 114, 240, 191, 216, 283, 136, 246, 109, 280, 232, 130, 207,
             223, 205, 157, 132, 250, 220, 227, 162, 173, 240, 156, 252, 159, 255,
             147, 125, 276, 105, 216, 133, 167, 217, 195, 195, 123, 211, 139, 224,
             191, 225, 156, 213, 197, 147, 152, 131, 138, 207, 277, 239, 145, 163,
             239, 266],
    'Price': [225352.32, 324190.49, 262504.68, 295580.95, 332102.36, 245951.44, 224914.83,
              336520.26, 321236.73, 287879.16, 317723.04, 306156.11, 270238.67, 299413.08,
              319421.08, 268359.88, 346201.59, 340315.16, 238706.15, 299056.01, 336708.18,
              356620.58, 328231.67, 269540.25, 252309.97, 282879.77, 243694.78, 295469.01,
              256320.52, 326920.84, 243365.79, 303975.82, 247512.71, 307284.32, 234563.89,
              286990.17, 270790.79, 296104.24, 330403.16, 257456.09, 232073.82, 289805.16,
              326912.18, 237607.43, 232543.04, 329580.67, 240105.67, 338209.13, 250312.47,
              339079.06, 332476.85, 262679.92, 229480.36, 281903.43, 316504.32, 285476.91,
              266402.41, 336205.68, 253214.62, 267204.65, 280479.09, 304890.09, 297890.02,
              255782.15, 243980.36, 238490.68, 343890.36, 256420.94, 318502.49, 330706.38,
              284320.58, 280604.17, 333602.89, 260402.48, 232405.67, 281500.63, 309502.93,
              342304.69, 283907.17, 331904.37, 323907.89, 261304.38, 263904.73, 324903.56,
              300803.42, 276803.89, 342804.94, 248304.16, 299306.78, 320504.36, 242905.73, 
              270790.79, 296104.24, 330403.16, 257456.09, 262504.68, 295580.95, 332102.36, 
              245951.44, 224914.83 ]

})


# Separar características y target
X = data.drop(columns=['Price'])
y = data['Price']

In [8]:
data.head()

  Neighborhood      HouseType  Rooms  Area      Price
0            A       Detached      4   289  225352.32
1            D  Semi-Detached      3   235  324190.49
2            A       Detached      3   120  262504.68
3            B  Semi-Detached      5   146  295580.95
4            B       Detached      4   202  332102.36

# Preprocesado

In [4]:
# Separamos los datos segun el tipo de variable
categorical_columns = X.select_dtypes(include='object').columns
numerical_columns = X.select_dtypes(include=np.number).columns

# Hacemos la gestion de las variables categoricas
target_encoder = TargetEncoder(cols=categorical_columns)
X_encoded = target_encoder.fit_transform(X, y)

# Escalamos las variables
scaler = StandardScaler()
X_encoded[numerical_columns] = scaler.fit_transform(X_encoded[numerical_columns])

# Guardar los transformadores (TargetEncoder y StandardScaler)
with open('target_encoder.pkl', 'wb') as f:
    pickle.dump(target_encoder, f)

with open('scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

# Modelo

In [6]:

# Dividimos los datos en train y test
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.8, random_state=42)

# Entrenamos los datos.
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

# predecimos
y_pred = model.predict(X_test)

# calculamos el rmse
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print("Precio real vs Predicción:")
display(pd.DataFrame({'Real': y_test.values, 'Predicción': y_pred}).head(2))
print(f"\nRMSE: {rmse:.2f}")

Precio real vs Predicción:

        Real   Predicción
0  324903.56  316905.2514
1  281903.43  307955.3945

RMSE: 42905.87

In [7]:
# guardo el modelo
with open('random_forest_model.pkl', 'wb') as f:
    pickle.dump(model, f)